.sign-in-page {
  height: 100vh;

  .input-form {
    height: 55px;
    border-radius: 20px;
    border: 1px solid;
    color: black;
  }

  .button-sign-in {
    border: 1px solid black;
    border-radius: 20px
  }

}

.sign-in-background {
  background-image: url('../assets/Image/cut-sign-in.png');
  background-size: cover;
  background-position: right;
  height: 100vh;
  width: 60%;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
}

