.sign-in-page {
  height: 100vh;

  input {
    .input-form {
      height: 55px;
      border: 1px solid black;
      border-radius: 32px;
    }

  }
  .sign-in-background {
    background-image: url('../assets/Image/sign-in-cut.png');
  }

}